/* CSS Custom Properties */
:root {
  --white: #FFFFFF;
  --tan-1: #FBF9F6;
  --tan-2: #E7E2DD;
  --tan-3: #E2D9D1;
  --tan-4: #D3C1AE;
  --orange: #F67F00;
  --text-light: #968c84;
  --text-dark: #615954;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFFF;
  padding: 2vmin;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  display: flex;
  justify-content: flex-end;
  padding: 3vmin;
  border-radius: 1vmin;
}



p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  max-width: 30%;
  justify-content: end;
}

.forms{
  margin-top: 150px;
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid #009E60;
  border-radius: .5vmin;
  background-image: none !important; /* prevent lastpass */
  outline: none;
  color: white;
  background-color: #67B06E;
  width: 300px;


}

input:focus {
  border-color: #93C572;
  background-color: #93C572;
}

input[type="text"]::placeholder {
  color: white;
}

input[type="email"]::placeholder {
  color: white;
}

input[type="password"]::placeholder {
  color: white;
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: #097969;
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: #AFE1AF;
}

button[type="submit"] {
  margin: 1vmin 0 0;
}

nav {
  background-color: #67B06E;
  width: 100%;
  margin-bottom: px;
  position: fixed;
  top: 0;
  left: 0;
}

nav a{
  text-decoration: none;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

nav a:hover {
  background-color: #50C878;
}

nav h1{
  position: inherit;
  font-size: 25px;
  color: white;
}

#nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#brand {
  position: absolute;
  top: 200;
  left: 400;
  font-size: 100px;
  color: #67B06E;
  margin-top: 10px; /* Add desired spacing */
}

.create-parent{
  display: block;
  margin-top: 200px;
  height: 100vh;
  position: absolute;
  top: 50px;
  left: 550px;
}

.create-recipe {
  display: grid;
  grid-template-columns: 5fr;
  max-width: 30%;
  justify-content: center;
}

/* .text-boxes{
  height: 100px;
}

#name-create {
  margin-top: 5%;
}

#ingredients-create {
  margin-top: 50px;
  margin: 5%;
}

#time-create {
  margin: 5%;
  color: white;
} */

h2 {
  display: inline-block;
  position: relative;
  margin-top: 100px;
  padding: 10px;
  background-color: #67B06E;
  color: white;
  vertical-align: auto;
}

/* h1{
  margin-top: 50px;
} */

h2:hover {
  background-color: #50C878;
}

li {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: center;
  border-radius: 50% solid black;
}

.recipe-item{
  background-color: #67B06E;
  padding-bottom: 5%;

}

.custom-link {
  text-decoration: none;
  color: white;
}

.recipe-item {
  position: relative;
  margin-bottom: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

.prep-time {
  position: relative;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

#time-create{
  color: white
}

.recipe-item:hover .prep-time {
  opacity: 1;
}

.edit-parent{
  display: block;
  margin-top: 50px;
  height: 100vh;
  position: absolute;
  top: 50px;
  left: 550px;
}

.edit-recipe{
  display: grid;
  grid-template-columns: 5fr;
  max-width: 30%;
  justify-content: center;
}

.home-recipes {
  color: #67B06E;
  background-color: #009E60;
  margin-top: 10%;
  margin-bottom: 10%;
}

.home-recipe-item{

}